body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* background-image: url("../buttontiles/purpleboston.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	width: 100vw;
	margin: 0;
	font-family: "Assistant", sans-serif;
	color: #191419;
	font-size: 18px;
	/* background-color: #abd7eb; */
	background-color: #fbfbf8;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
}

main {
	background-color: #fbfbf8;
	height: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 24px;
	width: 100vw;
}

section {
	padding-left: 2vw;
	padding-right: 2vw;
}

aside {
	padding-left: 2vw;
	padding-right: 2vw;
}

h1 {
	font-family: "Roboto", sans-serif;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border-top: double 4px #c8a2c8;
	padding-top: 2vh;
	margin-top: 2vh;
}

header {
	grid-area: header;
	/*background-color: #fbfbf8;*/
	background-color: #fbfbf8;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* box-shadow: 2px 2px 5px #072a6c; */
	border-bottom: 4px double #c8a2c8;
	position: sticky;
	top: 0;
	width: 100vw;
	height: 80px;
}

.links {
	margin-bottom: 20vh;
}

#back-arrow {
	font-size: 3em;
	text-decoration: none;
	color: #191419;
	padding-left: 2vw;
	padding-right: 2vw;
}

#back-arrow:hover {
	color: #77d0ee;
}

header > img {
	margin: 0;
	max-height: 100%;
}

.placeholder-login-user {
	width: 70px;
}

.red {
	/* color: #ed2224; */
	color: #e21216;
	/* color: #167b9c; */
}

.banner {
	background-color: #d8e7fa;
	font-size: 1.3em;
	padding-top: 4vh;
	padding-bottom: 4vh;
	padding-left: 2vw;
	padding-right: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Dancing Script", cursive;
	box-sizing: border-box;
	width: 100%;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: 0.9em;
}

.footer-links {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	gap: 2vh;
	min-width: 50%;
}

.footer-links a {
	text-decoration: none;
	color: #191419;
}

.footer-links a:hover {
	color: #77d0ee;
}

.footer-links > span {
	font-weight: bold;
}

.icon-family {
	/* 	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; */
	margin-left: 8vw;
	margin-right: 12vw;
	/* 	flex: 1 1 0px; */
	/* font-size: 1.4em; */
	/* 	gap: 2vh; */
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 4vw;
}

.icon-family-box {
	display: flex;
	/* height: 24vh; */
	width: 100%;
	height: 100%;
	gap: 4vw;
	justify-content: start;
	align-items: center;
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0 2px 10px #a5d4e0;
	padding-left: 2vw;
	padding-right: 2vw;
}

.icon {
	width: 50px;
	height: 50px;
	border-radius: 24px;
	margin: 0;
}

#contact-us {
	width: 100%;
	padding-left: 2vw;
	padding-right: 2vw;
	box-sizing: border-box;
}

.section-image {
	display: block;
	max-width: 80vw;
	max-height: 40vh;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
}

.section-image-half {
	display: block;
	max-width: 80vw;
	max-height: 40vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	border-radius: 24px;
}

/*
logo blue: #78D1EE
 white: #FBFBF8
green: #D3EEDD
beige: E7DBCC
deep blue: #072A6C
lilac: #C8A2C8
soft blue: kindness : #ABD7EB
	box-shadow: 0 2px 10px #a5d4e0;
*/

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
	footer {
		font-family: "Roboto", sans-serif;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2vw;
	}

	body {
	}

	main {
		padding-top: 0vh;
		padding-bottom: 24px;
	}

	header {
		grid-area: header;
		/*background-color: #fbfbf8;*/
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* box-shadow: 2px 2px 5px #072a6c; */
		/* border-bottom: 2px solid #a5d4e0; */
		height: 104px;
		width: 100%;
	}

	header > img {
		/* max-height: 5vh; */
		margin-top: 8px;
		margin-bottom: 8px;
	}

	aside {
		display: block;
		margin-top: 2vh;
	}

	.icon-family {
		/* 		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
		align-items: center;
		margin: auto;
		flex: 1 1 0px; */
		font-size: 1.4em;
		padding-left: 2vw;
		padding-right: 2vw;
		display: grid;
		max-width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 2vw;
	}

	.icon-family-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 4px;
		text-align: center;
	}

	.main-padded-width {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.section-image-block {
		display: grid;
		grid-template-areas:
			"section-upper section-image"
			"section-lower section-image";
		max-height: 50vh;
	}

	.section-image-block-2 {
		display: grid;
		grid-template-areas: "section-half section-image-half";
		grid-template-columns: 3fr auto;
		max-height: 50vh;
		gap: 2vw;
	}

	.section-half {
		grid-area: section-half;
	}

	.section-image-half {
		grid-area: section-image-half;
		display: inline;
		margin: auto;
		min-height: 10px;
		min-width: 5px;
		margin-right: 2vw;
		max-width: 30vw;
	}

	.section-image {
		grid-area: section-image;
		display: inline;
		margin: auto;
		min-height: 10px;
		min-width: 5px;
		margin-right: 2vw;
	}

	.section-image-block-upper {
		grid-area: section-upper;
	}

	.section-image-block-lower {
		grid-area: section-lower;
	}

	.banner {
		height: 88px;
		font-size: 2.5em;
		margin-bottom: 2vh;
		padding-top: 4vh;
		padding-bottom: 4vh;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	}

	.footer-links {
		display: flex;
		flex-direction: column;
		gap: 2vh;
		min-width: 50%;
	}
}
